<h1><%= @question.title %></h1>
<p>
  <%== @question.description %>
</p>
<h3>Answers:</h3>
<ul>
<% @answers.each do |answer| %>
<% binding.pry %>
  <li><%== answer.description %> <%= link_to "Delete", question_answer_path(answer), method: 'delete' %></li>

<% end %>
</ul>
<h3>Post answer</h3>

<%= form_for [@question, @answer] do |f| %>
  <div class="field">
    <%= f.label :description, "Solution:" %>
    <%= f.text_field :description %>
  </div>

  <div class="actions">

    <%= f.submit %>
  </div>
<% end %>

<%= link_to "Delete Question", question_path(@question), method: 'delete' %>
<%= link_to "Edit Question", edit_question_path(@question) %>
